* {
	font-size: 20px;
}

#app-main-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#main-background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

/* #overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.85);
	z-index: -1;
} */

#main-page-header {
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: white;
}

.loading-screen {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.loading-screen p {
	font-size: 2em;
	color: white;
	font-family: 'Lato', sans-serif;
}

.fade-enter,
.fade-appear {
	opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
	opacity: 1;
	transition: opacity 400ms;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transition: opacity 400ms;
}

::-webkit-scrollbar-track {
	border: 1px solid black;
	border-radius: 5px;
	background-color: none;
}

body::-webkit-scrollbar-track:hover, body::-webkit-scrollbar:hover, body::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: none;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 5px;
}
