* {
	font-size: 20px;
}

#app-main-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#main-background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -2;
}
#overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.85);
	z-index: -1;
}

#main-page-header {
	font-size: 2em;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: white;
}

.loading-screen {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.loading-screen p {
	font-size: 2em;
	color: white;
	font-family: 'Lato', sans-serif;
}
/* 
.fadeIn {
	visibility: visible;
	opacity: 1;
	transition: all 0s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		display: flex;
	}
}

.fadeout {
	visibility: hidden;
	opacity: 0;
	transition: all 0s;
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		display: none;
	}
}
 */
 .fade-enter, .fade-appear{
	opacity: 0;
}
.fade-enter-active, .fade-appear-active {
	opacity: 1;
	transition: opacity 400ms;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transition: opacity 400ms;
}