.collection-entity-container {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.collection-entity-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 2em;
    padding-left: 1em;
    border: 2px solid black;
    width: 100%;
}