.back-button {
	position: absolute;
	text-decoration: none;
	margin-left: 2em;
	margin-top: 3em;
	left: 0;
	top: 0;
}

.back-button::before,
.back-button::after {
	position: absolute;
	content: '';
	border: 1px solid black;
	border-radius: 3px;
	height: 6px;
	width: 50px;
	left: 0;
	padding: 5px;
	transition: all 0.25s ease-in;
	
    background: rgba(0, 0, 0, 0);
	/* background-image: linear-gradient(#000, #000);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 0%; */
}

.back-button::before {
	transform: rotate(45deg);
}
.back-button::after {
	transform: rotate(-45deg);
}
.back-button:hover::after,
.back-button:hover::before {
	border: 1px solid black;
    /* background-size: 100% 100%; */
	cursor: pointer;
	background: rgba(0, 0, 0, 0.7);
}
